.shortUrl {
  border: solid 2px #000;
  margin-bottom: 1rem;
  padding: 3rem;
  width: 42rem;
}

@import './variables';
@import './base';
@import './components/boxed-view';
@import './components/button';
@import './components/header';
@import './components/page-content';
@import './components/checkbox';
@import './components/item';
