// Colors
$brand-primary: #5b4681;
$grey: #ddd;

// Spacing
$spacing-bottom: 1.4rem;

// Font sizes
$base-font-size: 2rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #fff;

// Button
$button-bg: $brand-primary;
$button-color: #fff;
$button-pill-color: $brand-primary;
$button-secondary-bg: #f9f9f9;
$button-secondary-color: #777;
$button-secondary-border-color: $grey;
