// Colors
$grey: #ddd;

// Spacing
$spacing-bottom: 1.4rem;

// Font sizes
$base-font-size: 2rem;

// Form inputs
$input-border: $grey;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #fff;
