// Colors
$grey: #ddd;

// Spacing
$spacing-bottom: 1.4rem;

// Font sizes
$base-font-size: 2rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #fff;

// Button
$button-bg: #5b4cf1;
$button-color: #fff;
