// Colors
$brand-primary: #5b4681;
$grey: #ddd;
$light-grey: #f9f9f9;
$dark-grey: #777;

// Spacing
$spacing-bottom: 1.4rem;
$site-max-width: 65rem;

// Font sizes
$base-font-size: 2rem;
$large-font-size: 3rem;

// Form inputs
$input-border: $grey;
$input-spacing: 1rem;

// Boxed view
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: #fff;

// Button
$button-bg: $brand-primary;
$button-color: #fff;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;

// Header
$header-bg: $brand-primary;
$header-color: #fff;

// Item
$item-bg: $light-grey;
$item-border: darken($item-bg, 20%);
$item-text-color: $dark-grey;
