.boxed-view {
  background: $boxed-view-overlay-bg;
  height: 100vh;
  width: 100vw;

  // flexbox items
  display: flex;
  align-items: center;
  justify-content: center;

}

.boxed-view__box {
  background-color: $boxed-view-bg;
  border-top: solid 4px $brand-primary;
  padding: 2.4rem;
  text-align: center;
  width: 35rem;
}

.boxed-view--modal {
  background: fade-out($boxed-view-overlay-bg, .3);
  position: fixed;
  top: 0;
  left: 0;
}

// Toggle password visibilty image causes password input to be shorter.
.boxed-view input {
  width: 95%;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}

.boxed-view__group {
  position: relative;
}

.boxed-view__img {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
}