.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2rem;
  margin-bottom: $spacing-bottom;
  padding: $input-spacing;
  text-transform: uppercase;
}

// Used once in LinkListItem
.button--link {
  display: inline-block;
  text-decoration: none;
}

// Used on links for visit, copy, and hide.
.button--pill {
  background-color: transparent;
  border: solid 1px $button-pill-color;
  color: $button-pill-color;
  margin: 0 ($spacing-bottom / 2) 0 0;
  padding: .6rem .8rem;

  // match color to default link
  &:hover, &:active {
    color: $dark-grey;
    border: solid 1px #000;
  }
}

// Modal for Add link - cancel button.
.button--secondary {
  background-color: $button-secondary-bg;
  border: solid 1px $button-secondary-border-color;
  color: $button-secondary-color;
}

.button--facebook {
  background-color: #4065b3;
  color: #fff;
  display: inline-block;
  padding: 2rem;
  transition: all, .2s;
  text-decoration: none;

  &:hover, &:active {
    background: darken(#4065b3, 10%);
  }
}

.button--header, a.button--header {
  color: #fff;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: capitalize;

  &:hover, &:active {
    color: #fff;
    text-decoration: none;
  }
}

// Buttons that deal with accounts.
.button--account {
  background: $brand-primary-light;
  color: $light-grey;
  padding: 2rem;
  transition: all, .2s;

  &:hover {
    background: $brand-primary;
    color: #fff;
  }

  &:active {
    background: $brand-primary;
    color: #fff;
  }
}
