.item {
  background: $item-bg;
  border: 1px solid $item-border;
  line-height: 150%;
  margin-bottom: $spacing-bottom;
  padding: $spacing-bottom;

  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
     These are technically the same, but use both
     Make long urls wrap (especially useful on mobile.) */
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.item__message {
  color: $item-text-color;
}

.item__status-message {
  color: $item-text-color;
  font-style: italic;
  text-align: center;
  margin: 0;
}
